.md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
    background-color: rgba(195, 15, 0, 0.05);
}

.md-dialog.md-default-theme, md-dialog {
    width: 40%;
    border-radius: 20px !important;
    background-color: rgba(8, 8, 8, 0.9) !important;
}

h2.md-title {
    text-align: center;
    text-shadow: 2px 2px 20px rgba(190, 30, 50, 0.3), 2px 2px 20px rgba(255, 255, 255, 0.3);
    color: rgba(195, 15, 0, 0.8);
}

span.md-title {
    font-size: 3vh;
}

.md-dialog-content .md-dialog-content-body {
    text-align: center;
}

.md-actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button.md-focused {
    background: transparent !important;
}

.md-actions button span {
    font-size: 3vh;
    color: rgba(247, 245, 252, 0.8);
}