<div class="t121-body">
    <div t121-sidebar
         knob-controls="ctrl.knobControls"
         toggles="ctrl.toggles">
    </div>
    <div class="t121-wrapper">
        <div class="t121">
            <div class="t121-toggles">
                <div t121-toggle class="transformer" is-enabled="ctrl.toggles.transformer.isEnabled"
                     ng-class="{hint : ctrl.toggles.transformer.isHinted}"></div>
                <div t121-toggle class="heating" ng-click="ctrl.toggleHeating()"
                     is-enabled="ctrl.toggles.heating.isEnabled"></div>

                <div t121-lightbulb class="work-lightbulb green"
                     is-enabled="ctrl.lightbulbs.work.isEnabled">
                </div>
                <div t121-lightbulb class="heating-lightbulb white"
                     is-enabled="ctrl.lightbulbs.heating.isEnabled">
                </div>

                <div t121-toggle class="gyroscope" is-enabled="ctrl.toggles.gyroscope.isEnabled"></div>
                <div t121-toggle class="work" ng-click="ctrl.toggleWork()"
                     is-enabled="ctrl.toggles.work.isEnabled"></div>
                <div t121-toggle class="control" is-enabled="ctrl.toggles.control.isEnabled"></div>
            </div>
            <div class="t121-knob-controls">
                <div t121-knob-control class="friction-error-positive"
                     config="ctrl.knobControls.frictionErrorPositive.config"
                     value="ctrl.knobControls.frictionErrorPositive.value">
                </div>
                <div t121-knob-control class="latitude"
                     config="ctrl.knobControls.latitude.config"
                     value="ctrl.knobControls.latitude.value">
                </div>
                <div t121-knob-control class="friction-error-negative"
                     config="ctrl.knobControls.frictionErrorNegative.config"
                     value="ctrl.knobControls.frictionErrorNegative.value">
                </div>
                <div t121-knob-control class="balance"
                     config="ctrl.knobControls.balance.config"
                     value="ctrl.knobControls.balance.value">
                </div>
            </div>
        </div>
    </div>
    <!--<div t121-bottombar>-->
    <!--</div>-->
</div>