body {
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: url("img/background.jpg") no-repeat center center fixed;
    background-size: cover;

    -webkit-user-select: none;
    cursor: default;
}

p,
li,
h1, h2, h3,
pre,
label, input[type="text"],
a, a:link, a:visited, a:active {
    color: #e0dee5;
    font: 2.2vh sans-serif;
    text-decoration: none;
    text-shadow: 2px 2px #323232;
}

h2 {
    font-size: 3.8vh !important;
}

h3 {
    font-size: 3.2vh !important;
}

a {
    cursor: pointer;
}

a:hover {
    color: #f7f5fc;
}

ul {
    margin-left: -40px;
    list-style: none;
}

.pull-right {
    position: fixed;
    right: 3%;
}

.pull-left {
    position: fixed;
    left: 0;
}

.pull-top {
    position: fixed;
    top: 3%;
}

.pull-bottom {
    position: fixed;
    bottom: 3%;
}

.back-link {
    position: fixed;
    bottom: 1%;
    text-align: center;

}

*:focus {
    outline: 0;
}