body {
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: url("img/background.jpg") no-repeat center center fixed;
    background-size: cover;

    -webkit-user-select: none;
    cursor: default;
}

p,
h1, h2,
label, input[type="text"],
a:link, a:visited, a:active {
    color: #eeecf3;
    font: 20pt sans-serif;
    text-decoration: none;
    text-shadow: 5px 5px #323232;
}

@media all and (max-width: 1366px) {
    p,
    h1, h2,
    label, input[type="text"],
    a:link, a:visited, a:active {
        font-size: 18pt;
    }
}

@media all and (max-width: 1024px) {
    p,
    h1, h2,
    label, input[type="text"],
    a:link, a:visited, a:active {
        font-size: 14pt;
    }
}

a:hover {
    color: #faf8ff;
}

ul {
    margin-left: -40px;
    list-style: none;
}

.pull-right {
    position: fixed;
    right: 3%;
}

.pull-bottom {
    position: fixed;
    bottom: 3%;
}
