<div class="sidebar right">
    <div class="navigation">
        <a ui-sref="trainer.t121">Переход к ГКУ &#10093</a>
    </div>
    <hr>
    <ul class="indicators">
        <li><p>Местоположение:</p></li>
        <li class="indicator">
            <label>Координата X:</label>
            <input type="text" ng-value="ctrl.b44.coordinates.x" disabled/>
        </li>
        <li class="indicator">
            <label>Координата Y:</label>
            <input type="text" ng-value="ctrl.b44.coordinates.y" disabled/>
        </li>
    </ul>
    <hr>
    <ul>
        <li class="indicator">
            <label>Дирекционный угол оси машины:</label>
            <input type="text" ng-value="ctrl.b44.rightAngle.value" disabled/>
        </li>
    </ul>
    <hr>
    <ul>
        <li class="indicator">
            <p>Формулярные значения:</p>
        </li>
        <li class="indicator">
            <label>КОЭФ. КОРР.  ДДС:</label>
            <input type="text" ng-value="ctrl.b44.rightCorrection" disabled/>
        </li>
    </ul>
    <hr>
    <ul>
        <li class="indicator">
            <label>Масштаб карты:</label>
            <input type="text" value="1 : 50000" disabled/>
        </li>
    </ul>
    <hr>
    <ul class="indicators">
        <li ng-if="!ctrl.b44.finishedTime" class="indicator">
            <a ng-mousedown="ctrl.examiner.testAllBefore('b44-step17.0')"
               ng-class="{'hint' : ctrl.examiner.isTrainingMode() && ctrl.examiner.currentStep.id === 'b44-step17.0'}"
               ng-mouseup="ctrl.setWorkFinishedTime(); ctrl.examiner.nextStepTo('b44-step17.0')">
                Зафиксировать время окончания работы
            </a>
        </li>
        <li ng-if="ctrl.b44.finishedTime" class="indicator">
            <label for="gyroscope-enabled-time">Время окончания работы:</label>
            <input type="text" id="gyroscope-enabled-time" ng-value="ctrl.b44.finishedTime" disabled/>
        </li>
    </ul>
    <hr>
    <ul class="indicators">
        <li class="indicator clock">
            <label for="current-time">Текущее время:</label>
            <input type="text" id="current-time" ng-model="ctrl.currentTime" disabled/>
        </li>
    </ul>
</div>