<div class="sidebar right">
    <ul class="indicators">
        <li class="indicator">
            <p>Поддиапозон:</p>
        </li>
        <li class="indicator">
            <label for="balance">1-я частота:</label>
            <input type="text" id="balance" ng-value="ctrl.radiostation.toggles.frequency1range1.isEnabled ? '1-й' : '2-й'" disabled/>
        </li>
        <li class="indicator">
            <label for="balance">2-я частота:</label>
            <input type="text" id="balance" ng-value="ctrl.radiostation.toggles.frequency2range1.isEnabled ? '1-й' : '2-й'" disabled/>
        </li>
        <li class="indicator">
            <label for="balance">3-я частота:</label>
            <input type="text" id="balance" ng-value="ctrl.radiostation.toggles.frequency3range1.isEnabled ? '1-й' : '2-й'" disabled/>
        </li>
        <li class="indicator">
            <label for="balance">4-я частота:</label>
            <input type="text" id="balance" ng-value="ctrl.radiostation.toggles.frequency4range1.isEnabled ? '1-й' : '2-й'" disabled/>
        </li>
        <hr />
        <li>
            <p>
                Задача:
            </p>
            <span>Настроить 1-ю фиксированную частоту радиостанции на {{ctrl.radiostation.desiredFrequency | number}} КГц<span>
        </li>
    </ul>
    <!-- <ul class="indicators">
        <li class="indicator">
            <label for="latitude">Широта:</label>
            <input type="text" id="latitude" ng-value="ctrl.formularyValues.latitude" disabled/>
        </li>
    </ul>
    <hr>
    <ul class="indicators">
        <li><p>Формулярные значения:</p></li>
        <li class="indicator">
            <label for="friction-error">Поправка на трение (верхний):</label>
            <input type="text" id="friction-error" ng-value="ctrl.formularyValues.frictionErrorPositive" disabled/>
        </li>
        <li class="indicator">
            <label for="friction-error2">Поправка на трение (нижний): </label>
            <input type="text" id="friction-error2" ng-value="ctrl.formularyValues.frictionErrorNegative" disabled/>
        </li>
        <li class="indicator">
            <label for="balance">Эл. балансировка:</label>
            <input type="text" id="balance" ng-value="ctrl.formularyValues.balance" disabled/>
        </li>
    </ul>
    <hr>
    <ul class="indicators">
        <li class="indicator">
            <label for="temperature">Температура:</label>
            <input type="text" id="temperature" ng-value="ctrl.weather.temperature + '&#8451'" disabled/>
        </li>
    </ul>
    <hr> -->
    <ul class="indicators">
        <!-- <li ng-if="!ctrl.radiostation.toggles.gyroscope.enabledTime" class="indicator">
            <a ng-mousedown="ctrl.examiner.testAllBefore('radiostation-step9.0')"
               ng-class="{'hint-reverse' : ctrl.examiner.isTrainingMode() && ctrl.examiner.currentStep.id === 'radiostation-step9.0'}"
               ng-mouseup="ctrl.setGyroscopeEnabledTime(); ctrl.examiner.nextStepTo('radiostation-step9.0')">
                Зафиксировать время включения тумблера ГИРОСКОП
            </a>
        </li>
        <li ng-if="ctrl.radiostation.toggles.gyroscope.enabledTime" class="indicator">
            <label for="gyroscope-enabled-time">Время включения тумблера ГИРОСКОП:</label>
            <input type="text" id="gyroscope-enabled-time" ng-value="ctrl.radiostation.toggles.gyroscope.enabledTime" disabled/>
        </li> -->
        <li class="indicator clock">
            <label for="current-time">Текущее время:</label>
            <input type="text" id="current-time" ng-model="ctrl.currentTime" disabled/>
        </li>
    </ul>
</div>
