.b44-knob-control-wrapper{
    width: 18%;
    height: 24%;
    border-radius: 100%;
}

.b44-knob-control-wrapper.left {
    position: absolute;
    right: 27%;
    bottom: 6.1%;
}

.b44-knob-control-wrapper.right{
    position: absolute;
    top: 40.8%;
    left: 29.6%;
}

.b44-knob-control-wrapper:hover{
    box-shadow: inset 0 0 30px rgba(256, 256, 256, 0.65), 0 0 30px rgba(256, 256, 256, 0.65);
}

.b44-knob-control-wrapper:hover > .b44-knob-control-regulators {
    display: block;
}

.b44-knob-control-regulators {
    display: none;
    position: absolute;
    top: 5%;
    left: 65%;
}

@media all and (min-width: 1441px) {
    .b44-knob-control-regulators {
        top: 20%;
    }
}

.b44-knob-control-regulator {
    width: 160%;
    background: rgba(256, 256, 256, 0.3);
    border: solid 2px #272727;
    border-radius: 100%;
    margin: 2%;

    text-align: center;
    color: #272727;
    font: 2.5vh sans-serif;
}
